.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
div.col-sm-12.col-md-12.col-lg-12.col-xs-12
  .col-sm-12.cnt.col-md-12.col-lg-12.col-xs-12
        each bed in beds
           div.col-sm-12.col-md-12.col-lg-12.col-xs-12.card.row-eq-height(id='#{bed._id}')
              div.col-xs-12.col-sm-2.col-lg-2.col-md-2.bed
                 h2 #{bed.bname}
                 h4 #{bed._patient.name} 
              div.col-xs-12.col-sm-9.col-lg-9.col-md-9.medicines
                               each med in bed._patient._medication
                                div.col-sm-12.col-md-12.col-lg-12.col-xs-12.medicinehold.row-eq-height
                                   div.col-xs-12.col-sm-4.col-md-4.col-lg-4.medname #{med.name}
                                   div.col-xs-12.col-sm-8.col-md-8.col-lg-8.schhold.row-eq-height(id='#{med._id}')
                                     each tim in med._timetable
                                        if tim.time > '12'
                                           - var result = parseFloat(tim.time)-parseFloat(12)
                                           div.col-xs-12.col-sm-2.col-lg-2.col-md-2.time(class='#{tim.infused}')(id='#{tim._id}') #{result} PM
                                        else
                                           div.col-xs-12.col-sm-2.col-lg-2.col-md-2.time(class='#{tim.infused}')(id='#{tim._id}')  #{tim.time} AM
                                   div.col-xs-12.col-sm-7.col-md-7.col-lg-7.progressbar.displaydis(id='#{med._id}'+'progressbardiv')
                                     div.progress-bar.progress-bar-striped.active(id='#{med._id}'+'progressbar')(role='progressbar',aria-valuemin='0', aria-valuemax='100')
                                   div.col-xs-12.col-sm-1.col-md-1.col-lg-1.percent.displaydis(id='#{med._id}'+'percent')
                                    span(id='#{med._id}'+'percentage') 
                                   div.col-sm-12.col-md-12.col-lg-12.col-xs-12.acknowledge.displaydis(id='#{med._id}'+'ack') 
                                      div.col-sm-6.col-md-6.col-lg-6.col-xs-12
                                        p Status : 
                                          span(id='#{med._id}'+'ack-errtype')
                                      div.col-sm-6.col-md-6.col-lg-6.col-xs-12.ack-btn
                                          button.btn.btn-success(id= '#{med._id}'+'ack-btn' type='submit')(style='margin-top:0px') Acknowledge
                                   div.col-sm-12.col-md-12.col-lg-12.col-xs-12.details
                                      .displaydis(id='#{med._id}'+'details') 
                                        div.col-sm-4.col-md-4.col-lg-4.col-xs-12(id='#{med._id}'+'details-ratediv') 
                                          p 
                                              span.glyphicon.glyphicon-tint(style="font-size:120%")  
                                              span(id='#{med._id}'+'details-rate') 
                                              span / #{med.rate}
                                        div.col-sm-4.col-md-4.col-lg-4.col-xs-12(id='#{med._id}'+'details-volumediv')
                                          p 
                                             span.glyphicon.glyphicon-arrow-down(style="font-size:120%")   
                                             span(id='#{med._id}'+'details-volume')
                                             span / #{med.tvol}ml 
                                        div.col-sm-4.col-md-4.col-lg-4.col-xs-12(id='#{med._id}'+'details-timediv') 
                                          p   
                                              span.glyphicon.glyphicon-time(style="font-size:120%") 
                                              span(id='#{med._id}'+'details-time') 
                                              span mins 
              div.col-xs-12.col-sm-1.col-lg-1.col-md-1.del
                 span.btn-default.delete.glyphicon.glyphicon-remove.patrmv(id='#{bed._id}'+'remove')
                 span.btn-default.editpatient.glyphicon.glyphicon-pencil.patedit(data-url='/editpatient?bed=#{bed._id}')(id='#{bed._id}'+'edit')

              div.col-sm-10.col-md-10.col-lg-10.col-xs-12.cnfrmmsg.displaydis
                div.col-sm-6.col-md-6.col-lg-6.col-xs-12 
                  h4 You are about to remove a patient from bed. Are You Sure?
                div.col-sm-4.col-md-2.col-lg-2.hidden-xs
                  button.btn.btn-success.patrmvcancel(type='submit') No,Keep patient 
                div.col-sm-4.col-md-2.col-lg-2.hidden-xs
                  button.btn.btn-danger.patrmvconfirm(type='submit' data-url='/removepatient?bed=#{bed._id}') Yes,Remove patient
                div.col-xs-6.hidden-sm.hidden-md.hidden-lg(style="padding-bottom:2px")
                  button.btn.btn-success.patrmvcancel(type='submit') Cancel
                div.col-xs-6.hidden-sm.hidden-md.hidden-lg(style="padding-bottom:2px")
                  button.btn.btn-danger.patrmvconfirm(type='submit' data-url='/removepatient?bed=#{bed._id}') Remove
                                          
script(src="/js/home.js")






                               
                         
                             
