div.col-sm-12.col-md-12.col-lg-12
  .col-sm-12.cnt.col-md-12.col-lg-12
        each bed in beds
           div.col-sm-12.col-md-12.col-lg-12.col-xs-12.card.row-eq-height(id='#{bed._id}')
              div.col-xs-12.col-sm-2.col-lg-2.bed
                 h2 #{bed.bname}
                 h4 #{bed._patient.name} 
              div.col-xs-12.col-sm-9.col-lg-9.medicines
                               each med in bed._patient._medication
                                div.col-sm-12.col-md-12.col-lg-12.col-xs-12.medicinehold.row-eq-height
                                   div.col-xs-12.col-sm-4.col-md-4.col-lg-4.medname #{med.name}
                                   div.col-xs-12.col-sm-4.col-md-4.col-lg-4.schhold.row-eq-height(id='#{med._id}')
                                     each tim in med._timetable
                                        if tim.time > '12'
                                           - var result = parseFloat(tim.time)-parseFloat(12)
                                           div.col-xs-12.col-sm-2.time #{result} PM
                                        else
                                           div.col-xs-12.col-sm-2.time #{tim.time} AM
                                   h5.col-sm-4 03:00 PM
                                   div.col-sm-8.progressbar.displaydis(id='#{med._id}'+'copy')
                                     div.progress-bar.progress-bar-info.progress-bar-striped.active(id='#{med._id}'+'copy2')(role='progressbar',aria-valuemin='0', aria-valuemax='100')
                                      span(id='#{med._id}'+'copy3')
              div.col-xs-12.col-sm-1.col-lg-1.del
                 span.btn-default.delete.glyphicon.glyphicon-remove
                 span.btn-default.editpatient.glyphicon.glyphicon-pencil(data-url='/editpatient?bed=#{bed._id}')                            
script(src="/js/home.js")






                               
                         
                             
