.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
div.col-sm-12.col-lg-12.col-xs-12.main
	.col-sm-12.col-lg-12.col-xs-12.tab
		ul.nav.nav-pills.ivsetpills
			li.active
				a.list(data-toggle='pill', data-url='/listpatient') View
			li
				a.add(data-toggle='pill', data-url='/addpatient') Add 
	.col-sm-12.col-lg-12.col-md-12.col-xs-12.cnt
		each activepatient in activepatients
			div.patlistandpatcnfrm(style="color:green") 
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.list-patient.patlist
					div.col-sm-6.col-md-6.col-lg-6.col-xs-12.n1
						h4 #{activepatient.name}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.a1
						h4 #{activepatient.age}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.w1
						h4 #{activepatient.weight}
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.editpatient(data-url='/editpatient?bed=#{activepatient._bed}')
						h4.glyphicon.glyphicon-pencil		
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.activepatient
						h4.glyphicon.glyphicon-remove
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.activepatient-warning.displaydis.deleteconfirmationdropdown
					div.col-md-6.col-lg-6.hidden-xs.hidden-sm
						h4 Patient is active, Operation not allowed.
					div.col-xs-12.col-sm-6.hidden-md.hidden-lg
						h4 Patient is active!
					div.col-md-3.col-sm-6.col-lg-3.col-xs-6.hidden-xs.keeppatientdetails(style="padding-top:2px")
						button.btn.btn-success(type="button") Cancel 
					div.col-xs-12.hidden-md.hidden-sm.hidden-lg.keeppatientdetails(style="padding-bottom:2px")
						button.btn.btn-success(type="button") Cancel
		each inactivepatient in inactivepatients
			div.patlistandpatcnfrm(style="color:gray") 
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.list-patient.patlist
					div.col-sm-6.col-md-6.col-lg-6.col-xs-12.n1
						h4 #{inactivepatient.name}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.a1
						h4 #{inactivepatient.age}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.w1
						h4 #{inactivepatient.weight}
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.inactivepatient
						h4.glyphicon.glyphicon-pencil		
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.removepatient
						h4.glyphicon.glyphicon-remove
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.delete-patient.deleteconfirmationdropdown.displaydis
					div.col-md-6.col-lg-6.hidden-xs.hidden-sm
						h4 Deleting a Patient will permanently remove it from your database
					div.col-xs-12.col-sm-4.hidden-md.hidden-lg
						h4 Delete Patient?
					div.col-md-3.col-sm-4.col-lg-3.col-xs-6.hidden-xs.keeppatientdetails(style="padding-top:2px")
						button.btn.btn-success(type="button",data-dismiss='modal') No,Keep Patient Details
					div.col-md-3.col-sm-4.col-lg-3.col-xs-6.hidden-xs(style="padding-top:2px")
						button.btn.btn-danger.deletepatientconfirmbtn(type='submit' data-url='/removepatient?patient=#{inactivepatient._id}') 	Yes,Remove Patient Detail
					div.col-xs-6.hidden-md.hidden-sm.hidden-lg.keeppatientdetails(style="padding-bottom:2px")
						button.btn.btn-success(type="button",data-dismiss='modal') Cancel
					div.col-xs-6.hidden-md.hidden-sm.hidden-lg(style="padding-bottom:2px")
						button.btn.btn-danger.deletepatientconfirmbtn(type='submit' data-url='/removepatient?patient=#{inactivepatient._id}') 	Delete
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.inactivepatient-warning.displaydis.deleteconfirmationdropdown
					div.col-md-6.col-lg-6.hidden-xs.hidden-sm
						h4 Patient is inactive, Operation not allowed.
					div.col-xs-12.col-sm-6.hidden-md.hidden-lg
						h4 Patient is inactive!
					div.col-md-3.col-sm-6.col-lg-3.col-xs-6.hidden-xs.keeppatientdetails(style="padding-top:2px")
						button.btn.btn-success(type="button") Cancel 
					div.col-xs-12.hidden-md.hidden-sm.hidden-lg.keeppatientdetails(style="padding-bottom:2px")
						button.btn.btn-success(type="button") Cancel


script(src='/js/listpatient.js')
	


		

				

