.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
.col-xs-12.hidden-sm.hidden-md.hidden-lg &nbsp 
div.col-sm-12.col-lg-12.col-xs-12.main
	.col-sm-12.col-lg-12.col-xs-12.tab
		ul.nav.nav-pills.ivsetpills
			li.active
				a.list(data-toggle='pill', data-url='/listpatient') View
			li
				a.add(data-toggle='pill', data-url='/addpatient') Add 
	.col-sm-12.col-lg-12.col-md-12.col-xs-12.cnt
		.col-sm-10.col-lg-10.col-md-10.col-xs-11
			input.form-control(type='text', name="search_query", placeholder='Search Patient')
			br
		.col-sm-2.col-lg-2.col-md-2.col-xs-11
			button.btn.btn-info(style="margin-top:0px")(id="search",type="button") Search
		each activepatient in activepatients
			div.patlistandpatcnfrm(style="color:green") 
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.list-patient.patlist
					div.col-sm-6.col-md-6.col-lg-6.col-xs-12.n1
						h4.spname #{activepatient.name}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.a1
						h4 #{activepatient.age}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.w1
						h4 #{activepatient.weight}
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.editpatient(data-url='/editpatient?bed=#{activepatient._bed}')
						h4.glyphicon.glyphicon-pencil		
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.viewpatient(data-url='/viewpatient?patient=#{activepatient._id}')
						h4.glyphicon.glyphicon-eye-open
		each inactivepatient in inactivepatients
			div.patlistandpatcnfrm(style="color:gray") 
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.list-patient.patlist
					div.col-sm-6.col-md-6.col-lg-6.col-xs-12.n1
						h4.spname #{inactivepatient.name}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.a1
						h4 #{inactivepatient.age}
					div.col-sm-2.col-md-2.col-lg-2.col-xs-2.w1
						h4 #{inactivepatient.weight}
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.inactivepatient
						h4.glyphicon.glyphicon-pencil		
					.col-sm-1.col-md-1.col-lg-1.col-xs-2.m1.btn-default.viewpatient(data-url='/viewpatient?patient=#{inactivepatient._id}')
						h4.glyphicon.glyphicon-eye-open
				div.col-sm-12.col-md-12.col-lg-12.col-xs-11.inactivepatient-warning.displaydis.deleteconfirmationdropdown
					div.col-md-6.col-lg-6.hidden-xs.hidden-sm
						h4 Patient is inactive, Operation not allowed.
					div.col-xs-12.col-sm-6.hidden-md.hidden-lg
						h4 Patient is inactive!
					div.col-md-3.col-sm-6.col-lg-3.col-xs-6.hidden-xs.keeppatientdetails(style="padding-top:2px")
						button.btn.btn-success(type="button") Cancel 
					div.col-xs-12.hidden-md.hidden-sm.hidden-lg.keeppatientdetails(style="padding-bottom:2px")
						button.btn.btn-success(type="button") Cancel


script(src='/js/listpatient.js')
	


		

				

